body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Tahoma', sans-serif;
}

#bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  /* position: absolute; */
}

#weather {
  background: black;
  color: white;
  text-shadow: 0.2px 0.9px green;
  border: transparent;
  line-height: 0.5rem;
  opacity: 0.65;
  letter-spacing: 0.1rem;
  padding: 1vh 1vw;
  font-size: 0.9rem;
}

#todo-error{
  color: red;
  font-size: 2em;
}

#todo-style {
  background: black;
  color: white;
  text-shadow: 0.2px 0.9px green;
  border: transparent;
  line-height: 1.5rem;
  opacity: 0.65;
  letter-spacing: 0.1rem;
  padding: 1.5vh 1.5vw;
}

li {
  list-style: none;
}

.todo-checkbox,
.completed {
  float: left;
}

.completed {
  font-size: 0.8rem;
}

#quote-style {
  background: black;
  color: white;
  text-shadow: 0.2px 0.9px green;
  border: transparent;
  line-height: 0.3rem;
  opacity: 0.7;
  padding: 0.5vh 0.5vw;
  /* letter-spacing: 0.1rem; */
  /* font-weight: 300; */
  position:fixed;
  bottom:0;
  width:100%;
}